[Unit]
Description=janus-manager
After=syslog.target
After=network.target

[Service]
Restart=always
KillMode=process
ExecStartPre=-/usr/bin/killall janus
ExecStart=/usr/bin/janus-manager

[Install]
WantedBy=multi-user.target